# Node dependencies

/node\_modules

# Build output

/.next
/out
/dist
/build

# Prisma local database (SQLite)
# Ignore all SQLite files EXCEPT prisma/dev.db

*.sqlite
!prisma/dev.db


# Logs

npm-debug.log\*
yarn-debug.log\*
pnpm-debug.log\*
logs/
\*.log

# Coverage directory

coverage/

# Editor directories and files

.vscode/
.idea/
\*.suo
*.ntvs*
\*.njsproj
\*.sln
\*.sw?

# macOS

.DS\_Store

# Windows

Thumbs.db

# Optional npm cache directory

.npm

# Parcel cache

.cache

# Yarn integrity file

.yarn-integrity

# Dependencies cache

.pnp.\*

# Misc

\*.local

/src/generated/prisma
